<footer>
    <div class="bg-light py-1">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">Music Lessons with Augmented Reality</p>
        </div>
    </div>
</footer>