<main class="d-flex-row container h-100">
        <div class="d-flex justify-content-center align-items-center h-75">
            <p class="text-center fs-1">Дополненная реальность на уроках музыки!</p>
        </div>
</main>

