<main class="container h-100">
  <div class="container mt-2">
    <ul class="list-group">
      <li class="list-group-item">
            <div class="d-flex">
                <div class="p-2">1) Щелкунчик. Урок по произведениям П.И.Чайковского</div>
                <div class="p-2 ms-auto">
              <a class="btn btn-primary" href="/pages/ar.html">AR</a>
          </div>
            </div>
      </li>
    </ul>
  </div>
</main>