<main class="container h-100">
    <ul class="list-group mt-3">
      <li class="list-group-item">
            <div class="d-flex">
                <div class="p-2">1) Щелкунчик. Уроки по произведениям П.И.Чайковского</div>
                <div class="p-2 ms-auto">
              <a class="btn btn-primary" href="/pages/ar.html">AR</a>
            </div>
      </li>
      <li class="list-group-item">
         <div class="d-flex">
                <div class="p-2">2) Фортепиано. Музыкальные качества пианино</div>
                <div class="p-2 ms-auto">
              <a class="btn btn-primary" href="/pages/ar.html">AR</a>
            </div>
      </li>
      <li class="list-group-item">
         <div class="d-flex">
                <div class="p-2">3) Лебединое озеро. Уроки по произведениям П.И.Чайковского</div>
                <div class="p-2 ms-auto">
              <a class="btn btn-primary" href="/pages/ar.html">AR</a>
            </div>
      </li>
    </ul>
</main>